APP_PORT=8080
APP_BASE_URL=http://localhost:8080/
CI_ENVIRONMENT=development

DB_PORT=3307
DB_NAME=mtsn1sijunjung_db
DB_USER=mtsn1
DB_PASSWORD=secret_password_here
DB_ROOT_PASSWORD=secret_root_password_here
